
<h2 class="form-title"><%= formTitle %></h2>
<h4 class="mb-4"><% if (student.last_name) { %><%= student.last_name %> <%= student.first_name %> (<%= student.id %>)<% } %> <% if (enteredValues.transactionId) { %>(<%= enteredValues.transactionId %>)<% } %> </h4>



<div class="row mx-auto bg-light p-3 pt-2 border border-info rounded align-middle w-75 justify-content-center mb-2">
  <div class="col-6">

    <label for="balanceyear">&nbsp;&nbsp;Rok akademicki</label>
    <select class="custom-select-addtransaction fs-6 w-100 text-center" name="balanceyear" id="balanceyear" style="padding: 6px 12px" aria-placeholder="Rok akademicki" onchange="giveSelection(sel1.value)">
      <option value="0">Wszystkie</option>
      <% admissions.forEach((admission) => { %>  
        <option value="<%= admission.admissionId %>" selected><%= admission.ayear %></option>         
      <% }) %>
    </select>
  </div>

  <div class="col-6">
    <label for="yearbalance">&nbsp;&nbsp;Saldo</label>
    <select class="custom-select-addtransaction fs-6 w-100 text-center" name="yearbalance" id="yearbalance" style="padding: 6px 12px" aria-placeholder="Saldo roku">
      <option value="0"><%= totalBalance %> zł</option>
      <% admissions.forEach((admission) => { %>  
        <option value="<%= admission.admissionId %>" selected><%= admission.yearbalance %> zł</option>         
      <% }) %>
    </select>
  </div>

  <!-- <div>
    <span class="label label-primary">Primary Label</span>
  </div> -->
  <!-- <div class="col-4 d-flex justify-content-center">
    <button id="search" class="btn btn-warning" type="submit" >Filtruj</button>
  </div> -->
  
</div>





<div class="mb-3">
  <label for="description">&nbsp;&nbsp;Opis transakcji</label>
  <input type="text" class="form-control fs-4" id="description" name="description" value="<%= enteredValues.description %>">
</div>

<div class="d-flex">
  <div class="justify-content-center">
    <label for="type">&nbsp;&nbsp;Rodzaj transakcji</label>
    <select class="custom-select-addtransaction mb-3 fs-4 w-100 text-center" name="type" id="type" style="padding: 6px 12px" aria-placeholder="Rodzaj transakcji">
      <% if (user.level === 3) { %>
        <option value="0">Należność</option>
      <% } else { %>
        <option value="" selected></option>
        <option value="0">Należność</option>
        <option value="1">Wpłata</option>
        <option value="3">Zwrot</option>
      <% } %>
    </select>
  </div>

  <div class="justify-content-center">
    <label for="type">&nbsp;&nbsp;Rok akademicki</label>
    <select class="custom-select-addtransaction mb-3 fs-4 w-100 text-center" name="ayear" id="ayear" style="padding: 6px 12px" aria-placeholder="Rok akademicki">
      <option value="0"></option>
      <% admissions.forEach((admission) => { %>  
        <option value="<%= admission.admissionId %>" selected><%= admission.ayear %></option>         
      <% }) %>
    </select>
  </div>
</div>

<div class="d-flex">
  <div class="mb-3 w-50"> 
    <label for="amount">&nbsp;&nbsp;Kwota transakcji</label>
    <input type="number" class="form-control fs-4 text-center" id="amount" name="amount" step=".01" value="<%= enteredValues.amount %>">
  </div>
  
  <div class="mb-3 w-50"> 
    <label for="date">&nbsp;&nbsp;Data transakcji</label>
    <input type="date" class="form-control fs-4 text-center" id="date" name="date" value="<%= enteredValues.date %>">
  </div>

</div>

<div class="row mb-3">
  <% if (buttonTitle !== '') { %>
  <div class="col col-6">     
    <a href="/auth/addtransaction"><button class="w-100 btn btn-lg btn-primary" type="submit"><%= buttonTitle %></button></a>  
  </div>
  <% } %>

  <% if (buttonTitle === '') { %>
    <div class="col col-12">   
    <% } else { %>
    <div class="col col-6">
  <% } %>

    <% if ((buttonTitle === 'Zapisz transakcję' && enteredValues.level > 1) || (buttonTitle === 'Zapisz zmiany' && enteredValues.level > 1)) { %>
      <a href="/"><button class="w-100 btn btn-lg btn-warning" type="button">Wróć</button></a>
    <% } else if (buttonTitle === 'Zapisz transakcję') { %>
      <a href="/"><button class="w-100 btn btn-lg btn-warning" type="button">Wróć</button></a>
    <% } else if (buttonTitle === '') { %>
        <a href="/"><button class="w-100 btn btn-lg btn-warning" type="button">Wróć</button></a>
    <% } else if (buttonTitle === 'Zapisz zmiany') { %>      
      <a href="/"><button class="w-100 btn btn-lg btn-warning" type="button">Wróć</button></a>
    <% } %>
  </div>
</div>

<div id="hiddenField"  style="display: none;" value="<%= enteredValues.resultId %>" name="resultId"></div>
<% if (messageerror) { %>
  <h4 class="alert alert-danger text-center text-danger mt-2"><%= messageerror %></h4> 
<% } %>
<% if (messagesuccess) { %>
  <h4 class="alert alert-success text-center text-success mt-2"><%= messagesuccess %></h4> 
<% } %>

<div class="form-floating mb-3 ">
  <textarea class="col-12 form-control" name="comment" id="comment" rows="10" value="<%= student.comment %>"></textarea>
  <label for="comment">Uwagi:</label>
</div>