<%- include('./partials/header.ejs') %>



<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-0">
    <div class="p-3 p-md-4 border rounded-3 bg-light">
      <!-- <div class="p-3 p-md-4 border rounded-3 bg-light"> -->



<div class="container col-xl-10 col-xxl-8 px-4 py-3">

  <div class="row mb-4">
    <h3>Lista studentów WSTH</h3>
    <% if (successmessage) { %>
      <h4 class="alert alert-success text-center text-success mt-2"><%= successmessage %></h4> 
    <% } %>
    <form class="d-flex mb-0 mt-3" role="search" method="POST" action="/" novalidate>

        <input
          id="searchField_ln"
          class="form-control me-2"
          type="search"
          placeholder="Nazwisko"
          name="searchln"
          value="<%= searchFieldValues.searchln %>"
          autofocus
        />
    
        <input
          id="searchField_fn"
          class="form-control me-2"
          type="search"
          placeholder="Imię"
          name="searchfn"
          value="<%= searchFieldValues.searchfn %>"
        />
    
        <input
        id="searchField_ad"
        class="form-control me-2"
        type="search"
        placeholder="Adres, kod, miasto"
        name="searchad"
        value="<%= searchFieldValues.searchad %>"
        />
      
      
      <button id="searchFieldButton" class="btn btn-outline-light" type="submit" data-title="Szukaj (ENTER)" >Szukaj</button>
      <button id="clearButton" class="btn btn-outline-light" type="button" data-title="Wyczyść (ESC)" data-button="clear">Wyczyść</button>
    </form>
  </div>


  <div class="row align-items-center g-lg-5 py-0">


<table class="table table-hover table-sm text-white">
  

  <thead>
    <tr class="text-warning" style="border-bottom: 2px solid red;">
      <th scope="col">#</th>
      <th scope="col">Nazwisko</th>
      <th scope="col">Imię</th>
      <th scope="col" class="text-center">Adres</th>
      <th scope="col" class="text-center">Operacje</th>
    </tr>
  </thead>
 
  <tbody>
    <% let counter = 0 %>
    <% students.forEach((student) => { %>
      
      <% counter++ %>
      <tr class="align-middle text-black">
        <th scope="row"><%= counter %></th>
        <td><%= student.last_name %></td>
        <td><%= student.first_name %></td>
        <% if ((student.address1 && student.zipCode1) || (student.address1 && student.town1)) { %>
          <td><%= student.address1 %>; <%= student.zipCode1 %> <%= student.town1 %></td>
        <% } else { %>
          <td><%= student.address1 %> <%= student.zipCode1 %> <%= student.town1 %></td>
        <% } %>
      
        <td class="text-end" style="width: 150">
          <a href="/auth/addtransaction/id/<%= student.id %>" type="button" class="btn btn-light btn-small" data-button="view" data-title="Dodaj transakcję" style="width: 40"><i class="bi bi-database-add"></i></a>
          <a href="/profile/id/<%= student.id %>" type="button" class="btn btn-light btn-small" data-button="transactions" data-title="Zobacz transakcje studenta" style="width: 40"><i class="bi bi-database"></i></a>
          <a href="/auth/editstudent/id/<%= student.id %>" type="button" class="btn btn-light btn-small" data-button="edit" data-title="Edytuj studenta" style="width: 40"><i class="bi bi-pencil"></i></a>
          <a href="/auth/addadmission/id/<%= student.id %>/sfn/<%= student.first_name %>/sln/<%= student.last_name %>" type="button" class="btn btn-light btn-small" data-button="addacademicyear" data-title="Dodaj zapis" style="width: 40"><i class="bi bi-file-plus"></i></a>
          <a href="/<%= student.id %>" type="button" class="btn btn-light btn-small" data-button="delete" data-title="Usuń studenta" style="width: 40" type="submit" onclick="return checkdelete()"><i class="bi bi-person-x"></i></a>
        </td>
      </tr>

      <% }) %>

  </tbody>
</table>

</div>
</div>

</div>
</div>
<!-- </div> -->
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="/scripts/studentsList.js"></script>
<script>
  const ln = document.querySelector('#searchField_ln');
  const fn = document.querySelector('#searchField_fn');
  const ad = document.querySelector('#searchField_ad');
  const alertSuccess = document.querySelector('.alert-success')
  

  document.addEventListener('keydown', function(event) {
   if(event.keyCode == 27) {
     ln.value = '';
     fn.value = '';
     ad.value = '';
     alertSuccess.remove();
     ln.focus();
    }
});

function checkdelete() {
  return confirm('Czy na pewno usunąć tego studenta?')
}

ln.addEventListener("keypress", function(event) {
  if (event.key === "Enter") {
    event.preventDefault()
    document.getElementById("searchFieldButton").click();
  }
})
ln.addEventListener("focus", () =>  ln.select())

fn.addEventListener("keypress", function(event) {
  if (event.key === "Enter") {
    event.preventDefault()
    document.getElementById("searchFieldButton").click();
  }
})
fn.addEventListener("focus", () =>  fn.select())

ad.addEventListener("keypress", function(event) {
  if (event.key === "Enter") {
    event.preventDefault()
    document.getElementById("searchFieldButton").click();
  }
})
ad.addEventListener("focus", () =>  ad.select())  

let alert = document.querySelector('.alert');

[...document.querySelectorAll('.form-control')].forEach(function(item) {
item.addEventListener('input', textChange)
})

function textChange() {
  const val = alert ? alert.hidden = true : '';
}

</script>
</body>
</html>
